language: node_js

node_js:
  - '6'

sudo: required

git:
  submodules: false

services:
  - docker

before_install:
  - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
  - git submodule update --init --recursive
  - cd server

install:
  - docker build -t jstechrelationshipsg4/relationships .

after_success:
  - if [ "$TRAVIS_BRANCH" == "travis-docker-test" ]; then 
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"; 
    docker push jstechrelationshipsg4/relationships; 
    fi