extends layout

block content
  h1 #{title}
  p
    | Welcome to our world, you can view the relationships between musicians, composers and music pieces to
    a(href="/relationship") relationship
    |  page.
